<%= form_for @photo do |f| %>
  Nazvanie
  <%= f.text_field :title %>
 
  Shirota
  <%= f.text_field :lattitute %>
  
  Dolgota
  <%= f.text_field :longitude %>
  
  Tip
  <%= f.text_field :photo_type %>
  <%= f.submit %>
  
  <% @photo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  
  <% end %>
<% end %>

<%= form_for @user do |t| %>
  Nazvanie
  <%= t.text_field :title %> 
  <% @photo.errors.full_messages.each do |mesg| %>
  <li><%= mesg %></li> 
  <% end %>
<% end %>

