<%= form_for @photo, :html => {:multipart => true}  do |f| %>
  Title
  <%= f.text_field :title %>
 
  Lattitute
  <%= f.text_field :lattitute %>
  
  Longitude
  <%= f.text_field :longitude %>
  
  Type
  <%= f.text_field :photo_type %>
  
  User
  <%= f.select(:user_id, options_from_collection_for_select(User.all, :id, :name)) %>
  
  Image
  
  <%= f.file_field :file %>

  <%= f.submit %>
  
  <% @photo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  
  
  <% end %>
<% end %>


