<ul>
 <% @photos.each do |photo| %>
    <li><%=photo.title%>
        <br/> 
        <%=photo.lattitute%>
        <%=photo.longitude%>
        <br/> 
        <%=photo.photo_type%>
        <br/> 
        <%=photo.user.try(:name)%>
        <br/> 
        <%=image_tag photo.file.thumb%>

    </li> 
   <%=link_to "Edit photo", edit_photo_path(photo)  %>
   <%=link_to "Delete photo", photo_path(photo), data: {method: "delete"} %>
 <% end %>
</ul>
<%=link_to "New photo", new_photo_path  %>
<br/>
<%=link_to "Users", users_path  %>




